* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --app-background-color: rgba(0,0,0,.8);
    --radio-background-color: rgba(0,0,0,.5);
    --panel-background-color: rgb(37, 36, 36);
    --display-background-color: #D9D55B;
    --save-btn-background-color: rgb(8, 91, 247);
    --cancel-btn-bg-color: red;
    --go-btn-bg-color: rgb(8, 91, 247);
    --content-border-radius: 0.5em;
    --knob-color: whitesmoke;
}

#root {
    height: 100vh;
}

#app {
    display: flex;
    background-color: var(--app-background-color);
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#radio {
    width: 90vw;
    min-height: 550px;
    border: 1px solid black;
    border-radius: var(--content-border-radius);
    background-color: var(--radio-background-color);
    box-shadow: 0 5px 5px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel {
    display: flex;
    height: 100%;
    width: 90%;
    background-color: var(--panel-background-color);
    border-radius: var(--content-border-radius);
    margin: 1em 0;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: border 0.3s linear, display 0.3s linear;
}

#screen {
    background-color: var(--display-background-color);
    border: 10px solid black;
    border-radius: var(--content-border-radius);
    height: 60%;
    width: 75%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#screen p {
    width: 100%;
}

#screen p:first-child {
    padding-left: 10px;
    font-size: 1.5em;
}

#screen p:nth-child(3) {
    font-size: 1.5em;
    text-align: end;
    height: 100%;
}

#frequency-value {
    font-size: 12vw;
    text-align: center;
}

#frequency-value span {
    font-size: 4vw;
}

.btn {
    border: none;
    border-radius: var(--content-border-radius);
    color: white;
    cursor: pointer;
    opacity: 0.85;
    transition: background-color 0.3s, opacity 0.3s;
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: 2px;
    padding: 2%;
    height: 100%;
    width: 100%;
}

.btn:hover {
    opacity: 1;
}

#display-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 50%;
}

#btn-save {
    background-color: var(--save-btn-background-color);
}

#btn-cancel {
    background-color: var(--cancel-btn-bg-color);
}

#speakers-container {
    display: flex;
    height: 30%;
    width: 100%;

    margin-top: 1em;
    justify-content: space-evenly;
}

.speakers {
    border: 5px solid var(--radio-background-color);
    border-radius: var(--content-border-radius);
    display: flex;
    width: 40%;
}

.speaker {
    height: 100%;
    width: 5%;
    margin-left: 2px;
    
    justify-content: stretch;
    background-color: var(--radio-background-color);
}
.speaker:last-child {
    margin-right: 2px;
}

#saved-stations {
    border-radius: var(--content-border-radius);
    display: flex;
    height: 50%;
    padding: 2%;
    width: 100%;
}

.saved-station {
    border-radius: var(--content-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.station-display {
    align-items: center;
    background-color: var(--display-background-color);
    border-radius: var(--content-border-radius);
    color: black;
    display: flex;
    font-size: 4vw;
    font-weight: bold;
    height: 50%;
    justify-content: center;
    width: 80%;
    
}

.btn-restore {
    background-color: var(--go-btn-bg-color);
    height: 100%;
    margin-top: 5px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

#knobs {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}

#frequency-slider-container {
    display: flex;
    width: 50%;
    
    align-items: center;
}

#frequency-slider {
    height: 50%;
    width: 100%;

    appearance: none;
    background-color: var(--radio-background-color);
    border-radius: var(--content-border-radius);
    opacity: 0.5;

    transition: opacity 0.2s linear;
}

#frequency-slider::-webkit-slider-thumb {
    appearance: none;
    height: 5vh;
    width: 4vw;

    background-color: var(--knob-color);
    border-radius: var(--content-border-radius);
    cursor: grabbing;
}

#frequency-slider:hover {
    opacity: 1;
}

#volume {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

#volume-knob {
    position: relative;
    display: flex;
    border-radius: 50%;
    border: 10px double black;
    box-shadow: 0 5px 10px 1px black;
    height: 50px;
    width: 50px;
    background-color: var(--knob-color);
    opacity: 0.85;
    cursor: pointer;
}

#volume-knob-tooltip {
    background-color: rgba(0,0,0,.5);
    color: white;
    font-size: 1em;
    position: absolute;
    top: 115%;
    left: 10%;
    padding: 5%;
    font-weight: bold;
    display: none;
    width: 100px;
    z-index: 1;
}

#volume-knob:hover #volume-knob-tooltip {
    display: block;
}

#volume-arm {
    border-top: 5px solid orangered;
    position: relative;
    top: 50%;
    right: 11%;
    width: 60%;
    transform: rotate(-60deg) translateY(-5%);
    transform-origin: top right;
    transition-duration: 0.3s;
}

.volume-btn {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.2s;
}

.volume-btn:hover {
    opacity: 1;
    transform: scale(1.2)
}

.volume-btn:active {
    transform: scale(1)
}

.drag-icon {
    height: 3vh;
    width: 3vw;
    margin-left: auto;
    margin-right: 1%;
    cursor: move;
}


@media(min-width: 1030px) {
    #radio {
        flex-direction: row;
        justify-content: space-around;
    }
    .panel {
        height: 80%;
        width: 45%;
    }
    #frequency-value {
        font-size: 6vw;
    }
    #screen span {
        margin-left: 0.2em;
    }
    #saved-stations {
        flex-wrap: wrap;
    }
    .saved-station:nth-child(n+4) {
        margin-top: 2%;
    }
    .station-display {
        font-size: 2vw;
    }
}

@media(max-width: 650px) {

    #screen p:nth-child(3) {
        font-size: 1em;
    }

    #frequency-value {
        font-size: 10vw;
    }

    #screen span {
        font-size: 5vw;
    }

    #frequency-slider::-webkit-slider-thumb {
        width: 6vw;
    }

    #volume-knob-tooltip {
        font-size: 0.5em;
    }
}

@media (max-width: 350px) {
    #knobs {
        height: 30%;
    }
    .drag-icon {
        height: 0;
    }
    #saved-stations {
        flex-wrap: wrap;
    }
    .saved-station {
        height: 50%;
    }
    .saved-station:nth-child(n+4) {
        margin-top: 7%;
    }
    #btn-save {
        font-size: 0.8em;
    }
    #volume-knob-tooltip {
        display: none;
    }
    .btn {
        font-size: 1em;
    }
    #screen p:nth-child(3) {
        font-size: 0.7em;
    }
   
}

@media (min-width: 900px) {
    #volume-knob {
        height: 125px;
        width: 125px;
    }
}

@media (min-height: 1000px) {

    #screen p:nth-child(3) {
        font-size: 2em;
    }

    #volume-knob {
        height: 150px;
        width: 150px;
    }
}