* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


:root {
    --app-bg-color: rgba(0,0,0,.8);
    --radio-bg-color: rgba(0,0,0,.5);
    --panel-bg-color: rgb(37,36,36);
    --display-bg-color: linear-gradient(#D9D55B, rgba(192, 188, 86, 0.575));
    --save-btn-bg-color: linear-gradient(rgb(8, 91, 247), rgba(8, 92, 247, 0.575));
    --cancel-btn-bg-color: linear-gradient(red,rgba(255, 0, 0, 0.575));
    --restore-btn-bg-color: linear-gradient(rgb(8, 91, 247), rgba(8, 92, 247, 0.575));
    --content-border-radius: 0.5em;
    --knob-color: linear-gradient(whitesmoke,rgba(245, 245, 245, 0.575));
}

/********** GENERAL STYLES **********/

#root {
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    background-color: var(--app-bg-color);
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#radio {
    width: 90%;
    min-height: 550px;

    border: 1px solid black;
    border-radius: var(--content-border-radius);
    background-color: var(--radio-bg-color);
    box-shadow: 0 5px 5px 1px black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel {
    height: 100%;
    width: 90%;

    margin: 1em 0;
    padding: 1em;

    background: var(--panel-bg-color);
    border-radius: var(--content-border-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: border 0.3s linear, display 0.3s linear;
}

.btn {
    border: none;
    border-radius: var(--content-border-radius);
    color: white;
    cursor: pointer;
    opacity: 0.85;
    transition: background-color 0.3s, opacity 0.3s;
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: 2px;
    padding: 2%;
    height: 100%;
    width: 100%;
}

.btn:hover {
    opacity: 1;
}

/********** TOOLTIP CONTENT **********/

#tips-container {
    animation: grow;
    height: 10%;
    width: 90%;
    top: -2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

#tip-icon-container {
    margin-left: 1em;
    position: relative;
    width: 10%;
    cursor: pointer;
}


#tips {
    animation: fadeIn;
    animation-duration: 0.5s;
    height: 100%;
    padding: 2em;
    width: 90%;
    background: var(--radio-bg-color);
    color: white;
    font-weight: bold;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/********** DISPLAY COMPONENT **********/

/*** SCREEN STYLES ***/

#screen {
    background: var(--display-bg-color);
    border: 10px solid black;
    border-radius: var(--content-border-radius);
    height: 60%;
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#fm-tag {
    font-size: 1.5em;
    padding-left: 10px;
}

#screen-frequency-value {
    font-size: 12vw;
    text-align: center;
}

#MHz-tag {
    font-size: 4vw;
}

#screen-volume-tag {
    font-size: 1.5em;
    text-align: end;
    height: 100%;
}

/*** SPEAKER STYLES ***/

#speakers-container {
    display: flex;
    height: 30%;
    width: 100%;

    margin-top: 1em;
    justify-content: space-evenly;
}

.speakers {
    border: 5px solid var(--radio-bg-color);
    border-radius: var(--content-border-radius);
    display: flex;
    width: 40%;
}

.speaker-line {
    height: 100%;
    width: 5%;
    margin-left: 2px;
    
    justify-content: stretch;
    background-color: var(--radio-bg-color);
}
.speaker-line:last-child {
    margin-right: 2px;
}

/*** MAIN SAVE BTN ***/

#display-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 50%;
}

#btn-save {
    background: var(--save-btn-bg-color);
}

#btn-cancel {
    background: var(--cancel-btn-bg-color);
}


/********** CONTROL COMPONENT **********/

/*** SAVED STATIONS ***/

#saved-stations {
    border-radius: var(--content-border-radius);
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    padding: 2%;
    width: 100%;
}

.saved-station {
    border-radius: var(--content-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.saved-station-display {
    align-items: center;
    background: var(--display-bg-color);
    border-radius: var(--content-border-radius);
    color: black;
    display: flex;
    font-size: 4vw;
    font-weight: bold;
    height: 50%;
    justify-content: center;
    width: 95%;
}

.btn-restore {
    background: var(--restore-btn-bg-color);
    height: 100%;
    margin-top: 5px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

/**** RADIO KNOBS ****/

#knobs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}

/*** FREQUENCY SLIDER ***/

#frequency-slider-container {
    position: relative;
    display: flex;
    width: 90%;
    opacity: 0.7;
    align-items: center;
    margin: 0.5em 0;
}

#frequency-slider {
    height: 50%;
    width: 100%;

    appearance: none;
    background: var(--radio-bg-color);
    border-radius: var(--content-border-radius);
    opacity: 0.7;

    transition: opacity 0.2s linear;
}

#frequency-slider:hover {
    opacity: 1;
    cursor: grab;
}

#frequency-slider::-webkit-slider-thumb {
    appearance: none;
    height: 5vh;
    width: 4vw;

    background: var(--knob-color);
    border-radius: var(--content-border-radius);
    cursor: grabbing;
}

#frequency-slider-tooltip {
    opacity: 0;
    position: absolute;
    top: 120%;
}


/*** VOLUME KNOB ***/

#volume-knob-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.7;
    
}

#volume-knob {
    height: 100px;
    width: 100px;

    background: var(--knob-color);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px black;
    cursor: grab;
    display: flex;
    opacity: 0.85;
    position: relative;
    transform: rotate(-60deg);
    transition: opacity 0.2s linear;

    touch-action: none;
}

#volume-knob:hover {
    opacity: 1;
}

#volume-knob:active {
    cursor: grabbing;
}

#volume-knob::before {
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    background: linear-gradient(white, rgb(110, 109, 109));
    border-radius: 50%;
    box-shadow: 0 0px 10px 2px gray inset;
    top: 15%;
    left: 40%;
}

#volume-arm {
    height: 5%;
    background: orangered;
    box-shadow: 0px 0px 10px 2px orangered;
    position: relative;
    top: 50%;
    right: 5%;
    width: 20%;
    transform: translateY(-5%);
}

.volume-btn {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.2s;
}

.volume-btn:hover {
    opacity: 1;
    transform: scale(1.2);
}

.volume-btn:active {
    transform: scale(1);
}

/*** DRAG INDICATOR ***/

.drag-icon {
    height: 3vh;
    width: 3vw;
    margin-left: auto;
    margin-right: 1%;
    cursor: move;

    touch-action: none;
}

/********** MEDIA QUERIES **********/

/* Mobile landscape view or desktop views */
@media(min-width: 1030px) {
    #tip-icon-container {
        width: 5%;
    }
    #radio {
        flex-direction: row;
        justify-content: space-around;
    }
    .panel {
        height: 80%;
        width: 45%;
    }
    #screen-frequency-value {
        font-size: 5.5vw;
    }
    #MHz-tag {
        margin-left: 0.2em;
    }
    #saved-stations {
        flex-wrap: wrap;
    }
    .saved-station:nth-child(n+4) {
        margin-top: 2%;
    }
    .saved-station-display {
        font-size: 2vw;
    }
}

/* Medium sized phones or screen split */
@media(max-width: 650px) {
    #screen-volume-tag {
        font-size: 1em;
    }
    #screen-frequency-value {
        font-size: 8vw;
    }
    #MHz-tag {
        font-size: 5vw;
    }
    #frequency-slider::-webkit-slider-thumb {
        width: 6vw;
    }
    .tooltip {
        font-size: 0.7em;
    }
    #btn-save {
        font-size: 1em;
    }
}

/* Small phones */
@media (max-width: 350px) {
    #knobs {
        height: 30%;
    }
    .drag-icon {
        height: 0;
    }
    #saved-stations {
        flex-wrap: wrap;
    }
    .saved-station {
        height: 50%;
    }
    .saved-station:nth-child(n+4) {
        margin-top: 7%;
    }
    #btn-save {
        font-size: 0.8em;
    }
    .btn {
        font-size: 0.7em;
    }
    #screen-volume-tag {
        font-size: 0.7em;
    }
   
}


@media (min-width: 900px) {
    #volume-knob {
        height: 125px;
        width: 125px;
    }
}

/* Ipad/tablets */
@media (min-height: 1000px) {
    #screen-volume-tag {
        font-size: 2em;
    }
    #volume-knob {
        height: 125px;
        width: 125px;
    }
    .tooltip {
        font-size: 1.5em;
        width: 250px;
    }
}