* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


:root {
    --app-background-color: rgba(0,0,0,.8);
    --radio-background-color: rgba(0,0,0,.5);
    --panel-background-color: rgb(37,36,36);
    --display-background-color: linear-gradient(#D9D55B, rgba(192, 188, 86, 0.575));
    --save-btn-background-color: linear-gradient(rgb(8, 91, 247), rgba(8, 92, 247, 0.575));
    --cancel-btn-bg-color: linear-gradient(red,rgba(255, 0, 0, 0.575));
    --go-btn-bg-color: linear-gradient(rgb(8, 91, 247), rgba(8, 92, 247, 0.575));
    --content-border-radius: 0.5em;
    --knob-color: linear-gradient(whitesmoke,rgba(245, 245, 245, 0.575));
}

/********** GENERAL STYLES **********/

#root {
    height: 100vh;
}

#app {
    display: flex;
    background-color: var(--app-background-color);
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#radio {
    width: 90vw;
    min-height: 550px;
    border: 1px solid black;
    border-radius: var(--content-border-radius);
    background-color: var(--radio-background-color);
    box-shadow: 0 5px 5px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel {
    display: flex;
    height: 100%;
    width: 90%;
    background: var(--panel-background-color);
    border-radius: var(--content-border-radius);
    margin: 1em 0;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: border 0.3s linear, display 0.3s linear;
}

.btn {
    border: none;
    border-radius: var(--content-border-radius);
    color: white;
    cursor: pointer;
    opacity: 0.85;
    transition: background-color 0.3s, opacity 0.3s;
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: 2px;
    padding: 2%;
    height: 100%;
    width: 100%;
}

.btn:hover {
    opacity: 1;
}

.tooltip {
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 2%;
    transition: opacity 0.2s;
    z-index: 1;
    width: 100px;
}

/********** DISPLAY COMPONENT **********/

/*** SCREEN STYLES ***/

#screen {
    background: var(--display-background-color);
    border: 10px solid black;
    border-radius: var(--content-border-radius);
    height: 60%;
    width: 75%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#fm-tag {
    font-size: 1.5em;
    padding-left: 10px;
}

#screen-frequency-value {
    font-size: 12vw;
    text-align: center;
}

#MHz-tag {
    font-size: 4vw;
}

#screen-volume-tag {
    font-size: 1.5em;
    text-align: end;
    height: 100%;
}

/*** SPEAKER STYLES ***/

#speakers-container {
    display: flex;
    height: 30%;
    width: 100%;

    margin-top: 1em;
    justify-content: space-evenly;
}

.speakers {
    border: 5px solid var(--radio-background-color);
    border-radius: var(--content-border-radius);
    display: flex;
    width: 40%;
}

.speaker-line {
    height: 100%;
    width: 5%;
    margin-left: 2px;
    
    justify-content: stretch;
    background-color: var(--radio-background-color);
}
.speaker-line:last-child {
    margin-right: 2px;
}

/*** MAIN SAVE BTN ***/

#display-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 50%;
}

#btn-save {
    background: var(--save-btn-background-color);
}

#btn-cancel {
    background: var(--cancel-btn-bg-color);
}


/********** CONTROL COMPONENT **********/

/*** SAVED STATIONS ***/

#saved-stations {
    border-radius: var(--content-border-radius);
    display: flex;
    height: 50%;
    padding: 2%;
    width: 100%;
}

.saved-station {
    border-radius: var(--content-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.saved-station-display {
    align-items: center;
    background: var(--display-background-color);
    border-radius: var(--content-border-radius);
    color: black;
    display: flex;
    font-size: 4vw;
    font-weight: bold;
    height: 50%;
    justify-content: center;
    width: 95%;
}

.btn-restore {
    background: var(--go-btn-bg-color);
    height: 100%;
    margin-top: 5px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

/**** RADIO KNOBS ****/

#knobs {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}

/*** FREQUENCY SLIDER ***/

#frequency-slider-container {
    position: relative;
    display: flex;
    width: 50%;
    opacity: 0.7;
    align-items: center;
}

#frequency-slider {
    height: 50%;
    width: 100%;

    appearance: none;
    background: var(--radio-background-color);
    border-radius: var(--content-border-radius);
    opacity: 0.7;

    transition: opacity 0.2s linear;
}

#frequency-slider::-webkit-slider-thumb {
    appearance: none;
    height: 5vh;
    width: 4vw;

    background: var(--knob-color);
    border-radius: var(--content-border-radius);
    cursor: grabbing;
}

#frequency-slider-tooltip {
    opacity: 0;
    position: absolute;
    top: 120%;
}

#frequency-slider-container:hover #frequency-slider-tooltip {
    opacity: 1;
}


/*** VOLUME KNOB ***/

#volume-knob-container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    opacity: 0.7;
}

#volume-knob {
    position: relative;
    display: flex;
    border-radius: 50%;
    border: 10px double black;
    box-shadow: 0 5px 10px 1px black;
    height: 50px;
    width: 50px;
    background: var(--knob-color);
    opacity: 0.85;
    cursor: pointer;
}

#volume-knob-tooltip {
    background-color: rgba(0,0,0,.5);
    color: white;
    position: absolute;
    top: 120%;
    left: 10%;
    opacity: 0;
}

#volume-knob:hover #volume-knob-tooltip {
    opacity: 1;
}

#volume-arm {
    border-top: 5px solid orangered;
    position: relative;
    top: 50%;
    right: 11%;
    width: 60%;
    transform: rotate(-60deg) translateY(-5%);
    transform-origin: top right;
    transition-duration: 0.3s;
}

.volume-btn {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.2s;
}

.volume-btn:hover {
    opacity: 1;
    transform: scale(1.2);
}

.volume-btn:active {
    transform: scale(1);
}

/*** DRAG INDICATOR ***/

.drag-icon {
    height: 3vh;
    width: 3vw;
    margin-left: auto;
    margin-right: 1%;
    cursor: move;
}

/********** MEDIA QUERIES **********/

/* Mobile landscape view or desktop views */
@media(min-width: 1030px) {
    #radio {
        flex-direction: row;
        justify-content: space-around;
    }
    .panel {
        height: 80%;
        width: 45%;
    }
    #screen-frequency-value {
        font-size: 6vw;
    }
    #MHz-tag {
        margin-left: 0.2em;
    }
    #saved-stations {
        flex-wrap: wrap;
    }
    .saved-station:nth-child(n+4) {
        margin-top: 2%;
    }
    .saved-station-display {
        font-size: 2vw;
    }
}

/* Medium sized phones or screen split */
@media(max-width: 650px) {
    #screen-volume-tag {
        font-size: 1em;
    }
    #screen-frequency-value {
        font-size: 8vw;
    }
    #MHz-tag {
        font-size: 5vw;
    }
    #frequency-slider::-webkit-slider-thumb {
        width: 6vw;
    }
    .tooltip {
        font-size: 0.7em;
    }
    #btn-save {
        font-size: 1em;
    }
}

/* Small phones */
@media (max-width: 350px) {
    #knobs {
        height: 30%;
    }
    .drag-icon {
        height: 0;
    }
    #saved-stations {
        flex-wrap: wrap;
    }
    .saved-station {
        height: 50%;
    }
    .saved-station:nth-child(n+4) {
        margin-top: 7%;
    }
    #btn-save {
        font-size: 0.8em;
    }
    .btn {
        font-size: 0.7em;
    }
    #screen-volume-tag {
        font-size: 0.7em;
    }
   
}


@media (min-width: 900px) {
    #volume-knob {
        height: 125px;
        width: 125px;
    }
}

/* Ipad/tablets */
@media (min-height: 1000px) {
    #screen-volume-tag {
        font-size: 2em;
    }
    #volume-knob {
        height: 125px;
        width: 125px;
    }
    .tooltip {
        font-size: 1.5em;
        width: 250px;
    }
}